<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Creation Page</title>
</head>

<body>
    <form method="post">
        {%csrf_token%}
        <h2>Hello world, I am Home</h2>
        {{form.as_p}}
        <input type="submit" value="Create Meeting">
        <button><a href="{% url 'online-meet:join-meet' %}">join</a></button>
    </form>
</body>

</html>